@model BookShop.ViewModels.SignInViewModel
@{
	ViewBag.Title = "SignIn";
}

<h2>SignIn</h2>
@*@Html.Partial("_SignIn")*@
@Html.Action("SignInModal", "Account")
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signin-modal">sign in</button>

@section Scripts{
	@Scripts.Render("~/bundles/jqueryval")
}