<div id="login-form" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title">Login</div>
			</div>
			<div class="modal-body">
				@using (Html.BeginForm("Login", "Test", FormMethod.Post))
				{
					@Html.ValidationMessage("LoginError", new { @class = "text-danger" })
					<input type="text" id="email" name="email" class="form-control" />
					<input type="submit" value="login" class="btn btn-primary" />
				}
			</div>
		</div>
	</div>
</div>
