
@{
	ViewBag.Title = "Login";
}

<h2>Login</h2>
<input id="showform" type="button" data-toggle="modal" data-target="#login-form" value="show login form" />
@*@Html.Action("Form", "Test")*@

<div id="login-form" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title">Login</div>
			</div>
			<div class="modal-body">
				@using (Html.BeginForm("Login", "Test", FormMethod.Post))
				{
					@Html.ValidationMessage("LoginError", new { @class = "text-danger" })
					<input type="text" id="email" name="email" class="form-control" />
					<input type="submit" value="login" class="btn btn-primary" />
				}
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script>
		$(document).ready(function () {
			var isStateInvalid = '@ViewBag.IsStateInvalid'
			if (isStateInvalid) {
				console.log("document is ready");
				$("#showform").click();
			}
		});
	</script>
} 